# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env

# Dossiers de build
dist/
build/

# MacOS
.DS_Store
Thumbs.db
nul

# IDEs
.vscode/
.idea/

# Uploads
uploads/

#font
client/node_modules
client/package-lock.json
client/.env